@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

header {
  max-width: 144rem;
  margin-bottom: 4rem;
}

.container {

  max-width: 117rem;
  justify-content: center;
  display: flex;
  min-height: 10rem;
  margin: 0 auto;

}

.nav-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2.2rem;
  color: #131318;
  font-weight: 800;
  gap: 1.7rem;
  width: 50%;

}

.nav-logo {
  font-weight: bolder;
}

.nav-logo .special {
  color: #FF5400;
}

.nav-items {
  width: 50%;

  font-size: 1.7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.nav-items * {
  text-decoration: none;
}

.nav-items .home {
  color: #FF5400;
  font-weight: bold;
}

main {
  max-width: 144rem;
}

/* explore section  */

.explore {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../Images/background.png);
  border-radius: 16px;
  max-width: 117rem;
  height: 600px;

  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 50px;

}

.explore * {
  margin-bottom: 30px;
}

.explore .explore-container h1 {
  color: #FFF;
  font-size: 64px;
  font-weight: 800;

}

.explore .explore-container p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.explore .explore-container input {
  padding: 15px 25px;
}

.explore .explore-container .find {
  border-radius: 8px;
  background: #FF5400;
  color: #fff;
  padding-left: 70px;
}

.explore .explore-container select {
  padding: 15px 25px;
}

/* popular tour section  */

.popular-tour {
  max-width: 117rem;
  justify-content: center;
  display: flex;
  min-height: 10rem;


  margin: 0 auto;
  margin-bottom: 4rem;
}

.tour-text-container {
  width: 50%;

}

.tour-text-container * {
  margin-bottom: 24px;
}

.tour-text-container h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #131318;
}

.tour-text-container h6,
li {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1.5rem;
  font-weight: 400;

}

.tour-text-container ul {
  padding-left: 3rem;
}

.btn-primery,
.see-more {
  border-radius: 8px;
  background: #FF5400;

  font-size: 1.6rem;
  padding: 10px 20px;
  border: none;
  color: #fff;
}

.tour-image-container {

  width: 50%;
  object-fit: cover;

}

.tour-image-container img {
  width: 100%;
  height: 430px;


}

/* popular tour section  */

/* perfect-place start */
.perfect-place {
  max-width: 117rem;
  justify-content: center;
  display: flex;
  min-height: 10rem;


  margin: 0 auto;
  margin-bottom: 4rem;
}

.perfect-place .perfect-place-text {
  width: 50%;

  padding-top: 10px;
}

.perfect-place .perfect-place-text * {
  margin-bottom: 4rem;
}

.perfect-place .perfect-place-text .perfect-h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #131318;

}

.perfect-place .perfect-place-text .perfect-h6 {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1.5rem;
  font-weight: 400;

}

.perfect-place .perfect-place-text>ul {
  padding-left: 3rem;
}

.perfect-palce-video {
  width: 50%;

}

.perfect-palce-video img {
  width: 100%;
  height: 400px;

}



/* perfect-place end*/

.newsletter {
  max-width: 117rem;
  justify-content: center;
  display: flex;
  min-height: 10rem;


  margin: 0 auto;
  margin-bottom: 4rem;

}

.newsletter-text {
  width: 50%;
  padding-left: 4rem;
  padding-top: 20px;
}

.newsletter-text * {
  margin-bottom: 2rem;
}

.newsletter-text h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;

}

.newsletter-text p {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 26px;
}

.newsletter-text input {
  padding: 10px 140px 10px 10px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
}

.btn-subscribe {
  border-radius: 8px;
  background: #FF5400;

  font-size: 1.6rem;
  padding: 10px 125px;
  border: none;
  color: #fff;

}

.newsletter-image {
  width: 50%;

}

.newsletter-image img {
  width: 100%;
  height: 380px;

}

/* footer */
footer {
  font-family: 'Inter', sans-serif;
}